*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray-light: #454545;
    --gray-medium: #323232;
    --gray-dark: #181818;
    --back-black: #030303;
    --white: #ececec;
    --transition-fast: 0.2s ease;
    --scale-hover: 1.08;
}

html{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--back-black);
    color: var(--white);
}

.main-grid{
    display: grid;
    grid-template-columns: 1.2fr 4fr 1.5fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "dashboard header header"
    "dashboard main sidebar";
    max-width: 1200px;
    margin: 0 auto;
}

/* DASHBOARD */
.dashboard-container{
    grid-area: dashboard;
    background-color: var(--gray-dark);
    padding: 25px;
}

li{
    list-style: none;
}

.dash-item{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    gap: 8px;
    text-decoration: none;
    color: var(--white);
    transition: transform var(--transition-fast);
}

.dash-item:hover{
    transform: scale(var(--scale-hover));
}

.dash-item-big:hover{
    transform: none;
}

.dash-icon{
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.icon-text{
    font-size: 1rem;
}

.dash-item-big .dash-icon{
    width: 30px;
    height: 30px;
}

.dash-item-big .icon-text{
    font-size: 1.3rem;
}

.dash-divider{
    height: 50px;
}

/* HEADER */
.header-container{
    grid-area: header;
    background-color: var(--gray-light);
}

header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    padding: 20px 25px;
    row-gap: 20px;
    align-items: center;
}

.searchbar{
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform var(--transition-fast);
}

.search-bar-input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    background-color: var(--gray-medium);
    color: var(--white);
    padding-left: 10px;
    transition: border var(--transition-fast);
}

.search-bar-input::placeholder{
    color: var(--white);
}

.searchbar:focus-within,
.searchbar:hover{
    transform: scale(var(--scale-hover));
}

.search-bar-input:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid var(--white);
}

.user-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: end;
}

.profile-pic{
    width: 35px;
    border-radius: 20px;
}

.user-name{
    font-size: 0.9rem;
}

.bell-icon{
    transition: transform var(--transition-fast);
}

.bell-icon:hover{
    transform: scale(var(--scale-hover));
    cursor: pointer;
}

.user-hi-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-pic-big{
    width: 45px;
    border-radius: 40px;
}

.user-hi-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-hi-text{
    font-size: 0.8rem;
}

.user-name-at{
    font-size: 1.1rem;
}

.user-actions{
    display: flex;
    gap: 15px;
    justify-self: end;
}

.btn{
    background-color: var(--gray-medium);
    color: var(--white);
    width: 75px;
    height: 25px;
    border-radius: 20px;
    border: none;
    font-size: 0.7rem;
    transition: transform var(--transition-fast);
}

.btn:hover{
    transform: scale(var(--scale-hover));
    cursor: pointer;
}

/* MAIN */
main{
    grid-area: main;
    background-color: var(--gray-medium);
}

main{
    padding: 30px 15px;
}

.main-content-title{
    margin-bottom: 10px;
}

.main-content-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.main-content-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px 15px;
    border: 1px solid var(--white);
    border-left: 10px solid var(--white);
    border-radius: 15px;
    background-color: var(--gray-light);
    transition: transform var(--transition-fast);
}

.main-content-item:hover{
    transform: scale(var(--scale-hover));
    cursor: pointer;
}

.main-content-item-text{
    max-width: 75%;
}

.main-content-icons{
    display: flex;
    gap: 15px;
    margin-top: 30px;
    margin-right: 15px;
    align-self: end;
}

.main-content-icon{
    transition: transform var(--transition-fast);
}

.main-content-icon:hover{
    transform: scale(var(--scale-hover));
    cursor: pointer;
}

/* ASIDE */
aside{
    grid-area: sidebar;
    background-color: var(--gray-medium);
}

.announcements,
.trending-container{
    padding: 30px 15px;
}

.trending-container{
    padding-top: 0;
}

.announcements-title,
.trending-title{
    margin-bottom: 10px;
}

.announcements-wrap{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--gray-light);
    padding: 20px;
    border-radius: 15px;
}

.announcement-wrap:not(:last-child){
    border-bottom: 1px solid var(--white);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.announcement{
    font-size: 0.8rem;
}

.trendings-wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--gray-light);
    padding: 20px;
    border-radius: 15px;
}

.trending-wrap{
    display: flex;
    gap: 10px;
}

.trending-profile-at{
    font-weight: bold;
    margin-bottom: 5px;
}

.trending-text{
    font-size: 0.8rem;
}