*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray-light: #454545;
    --gray-medium: #323232;
    --gray-dark: #181818;
    --back-black: #030303;
    --white: #ececec;
    --transition-fast: 0.2s ease;
    --scale-hover: 1.08;
}

html{
    height: 100%;
}

body{
    background-color: var(--back-black);
    color: var(--white);
}

.main-grid{
    display: grid;
    grid-template-columns: 2.4fr 8fr 1fr; 
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
    "dashboard header header"
    "dashboard main sidebar";
    max-width: 1200px;
    margin: 0 auto;
}

/* DASHBOARD */
.dashboard-container{
    grid-area: dashboard;
    background-color: var(--gray-dark);
    padding: 25px;
}

li{
    list-style: none;
}

.dash-item{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    gap: 8px;
    text-decoration: none;
    color: var(--white);
    transition: transform var(--transition-fast);
}

.dash-item:hover{
    transform: scale(var(--scale-hover));
}

.dash-item-big:hover{
    transform: none;
}

.dash-icon{
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.icon-text{
    font-size: 1rem;
}

.dash-item-big .dash-icon{
    width: 30px;
    height: 30px;
}

.dash-item-big .icon-text{
    font-size: 1.3rem;
}

.dash-divider{
    height: 50px;
}

/* HEADER */
.header-container{
    grid-area: header;
    background-color: var(--gray-light);
}

header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    padding: 20px 25px;
    row-gap: 20px;
    align-items: center;
}

.searchbar{
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform var(--transition-fast);
}

.search-bar-input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    background-color: var(--gray-medium);
    color: var(--white);
    padding-left: 10px;
    transition: border var(--transition-fast);
}

.search-bar-input::placeholder{
    color: var(--white);
}

.searchbar:focus-within,
.searchbar:hover{
    transform: scale(var(--scale-hover));
}

.search-bar-input:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid var(--white);
}

.user-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: end;
}

.profile-pic{
    width: 35px;
    border-radius: 20px;
}

.user-name{
    font-size: 0.9rem;
}

.bell-icon{
    transition: transform var(--transition-fast);
}

.bell-icon:hover{
    transform: scale(var(--scale-hover));
    cursor: pointer;
}

.user-hi-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-pic-big{
    width: 45px;
    border-radius: 40px;
}

.user-hi-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-hi-text{
    font-size: 0.8rem;
}

.user-name-at{
    font-size: 1.1rem;
}

.user-actions{
    display: flex;
    gap: 15px;
    justify-self: end;
}

.btn{
    background-color: var(--gray-medium);
    color: var(--white);
    width: 75px;
    height: 25px;
    border-radius: 20px;
    border: none;
    font-size: 0.7rem;
    transition: transform var(--transition-fast);
}

.btn:hover{
    transform: scale(var(--scale-hover));
    cursor: pointer;
}

main{
    grid-area: main;
    background-color: var(--gray-medium);
}

aside{
    grid-area: sidebar;
    background-color: var(--gray-medium);
}